<title>All Images</title>

{{> first-image}}

<p><hr id="main-divider">

{{#each galleryInformation}}
  <div class="information">
    <a href="/gallery/{{id}}"><img src="{{link}}" alt =""></a> 
    <p />{{user.username}}
  </div>
{{/each}}
