<div id="navbar">
  {{!-- home --}}
  <div class="nav-content">
    <div class="nav">    
      {{#unless home}}
        <a href="/">Home</a>
      {{/unless}}
    </div>

    <div class="nav">
      {{#unless home}}    
        <a href="/gallery/new">New Image</a>
      {{/unless}}   
    </div>
  </div>
    {{!-- new image --}}
  <div class="nav-content">
    <div class="nav">
      {{#if home}}
      <a href="/register">Register</a>
      {{/if}}
    </div>
    
    <div class="nav">
      {{#unless home}}
      <a href="/logout">Logout</a>
      {{/unless}}

      {{#if home}}
        <a href="/login">Login</a>
      {{/if}}
    </div>
  </div>
  {{#if home}}
    <div>
  {{!-- login --}}
  {{!-- should be: IF NOT LOGGED IN --}}
  {{!-- logout --}}
  {{!-- should be: IF LOGGED IN --}}
  {{!-- optional: user account --}} 
    </div>
  {{/if}}
</div>

<!-- <input type="submit" formaction="javascript:history.go(-1)" value="Back"> -->