<div id="navbar">
  <div>
  {{!-- home --}}
    {{#unless home}}
      <form action="/" method="GET">
        <!-- <input type="submit" formaction="javascript:history.go(-1)" value="Back"> -->
        <input type="submit" value="Home">
      </form>

    {{!-- new image --}}
      <form action="/gallery/new" method="GET">
        <!-- <input type="submit" formaction="javascript:history.go(-1)" value="Back"> -->
        <input type="submit" value="New Image">
      </form>
    {{/unless}}   
  </div>

  <div>
  {{!-- login --}}
  {{!-- should be: IF NOT LOGGED IN --}}
    {{#if home}}
      <form action="/login" method="GET">
        <input type="submit" value="Login">
      </form>
    {{/if}}
  {{!-- logout --}}
  {{!-- should be: IF LOGGED IN --}}
    <form action="/logout" method="GET">
      <input type="submit" value="Logout">
    </form>
  {{!-- optional: user account --}}
  </div>  
</div>