<title>{{myTitle}}</title>

<div>
  <h1 class="topHeader">Enter Image Information : </h1>
  <br>
  <br>

  <form id="newform" action="/gallery" method="POST">
    <p>Author : </p><input type="text" name="author">
    <p>Link : </p><input type="text" name="link">
    <p>Description : </p><textarea name="description"></textarea>
    <br><br>
    <input type="submit" name="Submit">
  </form>
</div>
