<title>Add New Image</title>
<h1>Enter Image Information : </h1>

<form action="/gallery" method="POST">
  <p>Author : </p><input type="text" name="author">
  <p>Link : </p><input type="text" name="link">
  <p>Description : </p><textarea name="description"/>
  <input type="submit" name="Submit">
</form>