<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>

  <div id="nav">
    {{#unless home}}

      <form action="" method="GET">
        <!-- <input type="submit" formaction="javascript:history.go(-1)" value="Back"> -->
        <input type="submit" formaction="/" value="Home">
      </form>

      <form action="/gallery/new" method="GET">
        <!-- <input type="submit" formaction="javascript:history.go(-1)" value="Back"> -->
        <input type="submit" value="New Image">
      </form>

    {{/unless}}       
  </div>

  <div id="wrapper">

    {{> header}}
    <hr id="divider">
    {{> masthead}}

  </div>

  <div id="content">
    {{{body}}}
  </div>

</body>
</html>