<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>

  {{#unless home}}
    <form action="" method="get">
      <!-- <input type="submit" formaction="javascript:history.go(-1)" value="Back"> -->
      <input type="submit" formaction="/" value="Home">
    </form>
  {{/unless}}

  <p/>
  {{{body}}}
</body>
</html>