<title>Welcome</title>
<h1>Express Gallery</h1>

<p/>
<form action="/login" method="GET">
  <input type="submit" value="Login">
</form>

<p/>
<form action="/register" method="GET">
  <input type="submit" value="Register">
</form>

<p/>
<form action="/gallery" method="GET">
  <input type="submit" value="Go To Gallery">
</form>



