body {
  font-family: sans-serif;
  color: #536878; }

h1 {
  color: #536878; }

img {
  max-width: 300px; }

.header {
  margin: 10px;
  margin-bottom: 30px; }

#page-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  width: 100%; }
  #page-header #brand {
    max-width: 600px;
    font-size: 25px;
    line-height: 23px;
    text-align: left;
    align-self: flex-start; }
  #page-header #brand-description {
    max-width: 350px;
    margin: 1px solid black; }
    @media (max-width: 600px) {
      #page-header #brand-description {
        display: none; } }

#first-image img {
  max-width: 100%; }

#wrapper {
  max-width: 960px;
  display: flex;
  margin: 0 auto;
  flex-flow: row wrap;
  justify-content: center; }

#content {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }
  #content .information {
    margin: 7px; }

#main-divider {
  width: 90%;
  color: #BFC1C2;
  margin-top: 15px;
  margin-bottom: 10px; }
  @media (min-width: 960px) {
    #main-divider {
      width: 100%; } }

#divider {
  visibility: hidden;
  width: 100%; }
